#title-container{
	background-image: url("../images/bg.jpg");
	height: 80vh;
	width: 100%;
	background-size: cover;
	display: table;
	text-align: center;
}
#title-content{
	color: white;
	display: table-cell;
	vertical-align: middle;
}

h1{
	font-size: 56px;
}
.center-content{
	text-align: center;
}
.bg-color1{
	background-color: #e0e0e0;
}
.padding-bottom{
	padding-bottom: 50px;
}
.padding-right{
	padding-right: 50px;
}
.padding-left{
	padding-left: 50px;
}
.bg-color2{
	background-color: green;
}
h2{
	font-size: 36px;
}
p{
	font-size: 18px;
	line-height:170%;
}
.bg-color3{
	background-color: #1b1c1d;
}
.white-font{
	color: white;
}
