#title-container{
	background-image: url("../images/bg.jpg");
	height: 80vh;
	width: 100%;
	background-size: cover;
	display: table;
	text-align: center;
}
#title-content{
	color: white;
	display: table-cell;
	vertical-align: middle;
}
#myEmail{
	margin-bottom: 0;
}
h1{
	font-size: 56px;
	font-weight: bold;
}
.center-content{
	text-align: center;
}
.bg-color1{
	background-color: #e0e0e0;
}
.padding-bottom{
	padding-bottom: 50px;
}
.padding-right{
	padding-right: 50px;
}
.padding-left{
	padding-left: 50px;
}
.bg-color2{
	background-color: green;
}
h2{
	font-size: 56px;
	font-weight: bold;
}
h3{
	font-size: 36px;
	font-weight: bold;
}
p{
	font-size: 18px;
	line-height:170%;
}
.bg-color3{
	background-color: #1b1c1d;
}
.white-font{
	color: white;
}
button{
	background-color: #b4d02f;
	border: none;
	padding: 10px 30px;
	font-size: 18px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.button{
	background-color: #b4d02f;
	padding: 10px 30px;
	font-size: 18;
	color: white;
	border-radius: 5px;
	text-decoration: none;
}

a{
	color: white;
}


/* gogle fonts-------------------------------------*/
body{
	font-family: 'Montserrat', sans-serif;
}
/*google fonts-------------------------------------*/


/* Start pseudo-class-----------------------------*/

.button:link{
	background-color: #b4d02f;
	color: white;
	text-decoration: none;
}

.button:hover{
	background-color: #a6c126;
}

button:hover{
	background-color: #a6c126;
}

a:hover{
	color: #d3d3d3;
	text-decoration: none;
}
.button:active{
	background-color: #97af21;

}
button:active{
	background-color: #97af21;
}


/* End pseudo-class-----------------------------------------*/

@media only screen and (max-width: 767px){
	#title-container{
		height: 60vh;
	}
	p{
		font-size: 16px;
	}
	h1{
		font-size: 40px;
	}
	h2{
		font-size: 25px;
	}
	button{
		font-size: 20px;
	}
	.padding-top-mobile{
		padding-top: 30px;
	}
}
